[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_dimscreen
X-KDE-PluginKeyword=dimscreen

Name=Dim Screen for Administrator Mode
Name[af]=Verdof vir Administrateurmodus
Name[ar]=يعتم الشاشة لنمط المدير
Name[ast]=Aclarar la pantalla nel mou alministrador
Name[bg]=Затъмняване на екрана в администраторски режим
Name[bs]=Priguši ekran za administratorski režim
Name[ca]=Enfosqueix la pantalla pel mode administrador
Name[ca@valencia]=Enfosqueix la pantalla pel mode administrador
Name[cs]=Ztmavit obrazovku v administrátorském režimu
Name[da]=Dæmp skærmen til administratortilstand
Name[de]=Bildschirm für Systemverwaltungsmodus abdunkeln
Name[el]=Σκίαση οθόνης σε λειτουργία διαχειριστή
Name[en_GB]=Dim Screen for Administrator Mode
Name[eo]=Malheligi la ekranon en administra reĝimo
Name[es]=Oscurecer la pantalla en el modo administrador
Name[et]=Tuhm ekraan administraatori režiimis
Name[eu]=Ilundu leihoa administratzaile modurako
Name[fi]=Himmennä näyttö pääkäyttäjätilassa
Name[fy]=Yn administratormodus it skerm dimme
Name[ga]=Doiléirigh an Scáileán i Mód an Riarthóra
Name[gl]=Escurecer a pantalla no modo de administración
Name[gu]=સંચાલક સ્થિતિ માટે ઝાંખો સ્ક્રિન
Name[he]=עמעום מסך למצב מנהל
Name[hi]=प्रबंधक मोड के लिए स्क्रीन मंद करें
Name[hne]=प्रसासक मोड बर स्क्रीन ल धुंधला कर देव
Name[hr]=Priguši zaslon za administrativni način
Name[hu]=Halványított képernyő rendszergazdai módban
Name[ia]=Schermo Dim pro modo de administrator
Name[id]=Layar Dim Untuk Mode Administrator
Name[is]=Dimma skjá fyrir kerfisstjóraham
Name[kk]=Әкімші режімде экранды күңгірттеп көрсету
Name[km]=បន្ថយ​ពន្លឺ​អេក្រង់ សម្រាប់​របៀប​ជា​អ្នក​គ្រប់គ្រង
Name[kn]=ನಿರ್ವಾಹಕ ವಿಧಾನದಲ್ಲಿ (ಅ ಡ್ಮಿನಿಸ್ಟ್ರೇಟರ್ ಮೋಡ್) ತೆರೆಯನ್ನು ಮಂಕಾಗಿಸು
Name[ko]=관리자 모드에서 화면 어둡게 하기
Name[lt]=Užtemdomas ekraną administratoriaus veiksenai
Name[lv]=Aptumšināt ekrānu, pieprasot administratora tiesības
Name[mk]=Го затемнува екранот за администраторски режим
Name[ml]=അഡ്മിനിസ്ട്രേറ്റര്‍ മോഡില്‍ സ്ക്രീന്‍ തെളിച്ചം കുറയ്ക്കല്‍
Name[mr]=प्रशासक पद्धती करिता गडद स्क्रीन
Name[nb]=Demp skjermen i administratormodus
Name[nds]=In Systeemplegerbedrief Schirm bedüüstern
Name[nl]=Scherm dimmen voor administratormodus
Name[nn]=Mørklegg skjermen i administratormodus
Name[pa]=ਪਰਸ਼ਾਸ਼ਕੀ ਮੋਡ ਵਿੱਚ ਸਕਰੀਨ ਡਿਮ ਕਰੋ
Name[pl]=Przyciemnienie ekranu dla trybu administratora
Name[pt]=Escurecer o Ecrã para o Modo de Administração
Name[pt_BR]=Escurecer a tela no modo administrador
Name[ro]=Împăienjenește ecranul pentru Regimul administrator
Name[ru]=Затемнение экрана при административной задаче
Name[si]=පරිපාලක ප්‍රකාරයේදී තිර දීප්තිය අඩු කරන්න
Name[sk]=Stmaviť obrazovku v administrátorskom režime
Name[sl]=Potemnitev za način skrbnika
Name[sr]=Пригушен екран за администраторски режим
Name[sr@ijekavian]=Пригушен екран за администраторски режим
Name[sr@ijekavianlatin]=Prigušen ekran za administratorski režim
Name[sr@latin]=Prigušen ekran za administratorski režim
Name[sv]=Dämpa skärmen vid administratörsläge
Name[ta]=Dim Screen for Administrator Mode
Name[te]=నిర్వాహక రీతికొరకు తెరను డిమ్ చేస్తుంది
Name[th]=ทำให้หน้าจอมืดลงสำหรับใช้ในโหมดผู้บริหารระบบ
Name[tr]=Yönetici Kipinde Ekranı Dondur
Name[ug]=باشقۇرغۇچى ھالىتىدە ئېكراننى تۇتۇقلاشتۇر
Name[uk]=Тьмяний екран для режиму адміністратора
Name[vi]=Làm tối màn hình cho chế độ quản trị
Name[wa]=Fé pus noere li waitroûle pol môde Manaedjeu
Name[x-test]=xxDim Screen for Administrator Modexx
Name[zh_CN]=进入管理员模式时暗淡屏幕
Name[zh_TW]=在管理者模式下將螢幕變暗

