[Desktop Entry]
Type=Service
Name=KDE Display Size & Orientation
Exec=krandr
Icon=preferences-desktop-display-randr
StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0
